* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}
.container {
    width: 1440px;
    margin: 0 auto;
}

section{
    font-family: 'Reggae One', cursive;
}

.entry{
    padding-top: 10px;
    height: 300px;
    background-image: linear-gradient(45deg, #1a56b5 -10%, #fc9d17 47%, #fe7b83 74%, #4a5163);

}

h1{
    font-family: "Lobster", cursive;
    font-weight: 900;
    font-size: 55px;
    text-align: center;
    text-transform: uppercase;
    color: #0e62ff;
    letter-spacing: 10px;
    text-shadow: 4px 2px 0px rgba(255 255 255);
    }

h2{
    font-family: "Pacifico", cursive;
    font-weight: 900;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
}

.entry_text{
    margin-top: 25px;
    font-weight: 900;
    font-size: 17px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: -2px -2px 0px #0e62ff, -2px -2px 0px #0e62ff, 3px 3px 0px #0e62ff, 3px 3px 0px #0e62ff;
    color: white;
    line-height: 38px;
    letter-spacing: 5px;
}

.white{
    padding-top: 10px;
    margin-top: 15px;
    height: 600px;
    background: url("../img/white_sea.jpg") center center/cover no-repeat; 
}

.white_header{
    color:white;  
    text-shadow: -1px -1px 20px blue;  
}

.white_text{
    margin-top: 25px;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 0px red, -2px -2px 0px #0e62ff, 2px 2px 0px red, -2px -2px 0px #0e62ff;
    color: #FFF;
    line-height: 78px;
    letter-spacing: 8px;
}

.yellow{
    padding-top: 10px;
    margin-top: 15px;
    height: 600px;
    background: url("../img/yellow_sea.jpg") center center/cover no-repeat; 
}

.yellow_header{
    color:rgb(223, 238, 11);  
    text-shadow: -1px -1px 20px rgb(41, 3, 3),-1px -1px 20px rgb(41, 3, 3),-1px -1px 20px rgb(41, 3, 3),-1px -1px 20px rgb(41, 3, 3);
}

.yellow_text{
    margin-top: 50px;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 0px white, -2px -2px 0px black, 2px 2px 0px white, -2px -2px 0px black;
    color: rgb(212, 235, 11);
    line-height: 85px;
    letter-spacing: 10px;

}

.red{
    padding-top: 10px;
    margin-top: 15px;
    height: 600px;
    background: url("../img/red_sea.jpg")  center center/cover no-repeat; 
}

.red_header{
    color:rgb(246, 4, 4);  
    text-shadow: -1px -1px 20px rgb(41, 3, 3),-1px -1px 20px rgb(41, 3, 3),-1px -1px 20px rgb(41, 3, 3),-1px -1px 20px rgb(41, 3, 3);  
}

.red_text{
    margin-top: 45px;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 3px 3px 0px rgb(246, 4, 4), 3px 3px 0px rgb(246, 4, 4), 2px 2px 0px rgb(246, 4, 4), 2px 2px 0px rgb(246, 4, 4);
    color:white;
    line-height: 60px;
    letter-spacing: 10px;

}

.black{
    padding-top: 10px;
    margin-top: 15px;
    height: 600px;
    background: url("../img/black_sea.jpg") center center/cover no-repeat; 
}

.black_header{
    color:rgb(0, 0, 0);  
    text-shadow: -1px -1px 20px rgb(255, 255, 255), -1px -1px 20px rgb(255, 255, 255),-1px -1px 20px rgb(255, 255, 255),-1px -1px 20px rgb(255, 255, 255);   
}

.black_text{
    margin-top: 45px;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 0px rgb(0, 0, 0), 3px 3px 0px rgb(0, 0, 0), 4px 4px 0px black, 5px 5px 0px black, 7px 7px 0px black;
    color: white;
    line-height: 55px;
    letter-spacing: 7px;
 
}

footer{
    padding-top: 85px;
    margin-top: 15px;
    height: 300px;
    background-color:rgba(0, 0, 0, 100%)

}

.footer_info{
    font-family: Roboto;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    line-height: 30px;
    letter-spacing: 10px;
}

a{
    color:white;
    text-decoration: none;
}

.go_up {
    position: relative;
}
img{
    display: block;
    margin: 0 auto;

    bottom: 0px;
    text-align: center;
    left: 1145px;
    opacity: 0.3;
}

.list{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    line-height: 60px;
    letter-spacing: 1.5px;
    list-style-type: none;
}

li{
    margin-right: 170px;
}

li:last-child{
    margin-right: 0px;
}

@media screen and (max-width: 1024px){
    .container {
        width: auto;
        margin: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    h1, h2{
        font-size: 15px;
        letter-spacing: 5px;
        text-shadow: none;
        }

    .entry, footer{
        height: 150px;
    }

    .white, .yellow, .red, .black{
        margin-top: 7px;
        height: 300px;
    }

    .entry_text, .white_text, .yellow_text, .red_text, .black_text{
        /* padding: 0 15px 0px 15px; */
        margin-top: 10px;
        font-size: 7px;
        line-height: 15px;
        letter-spacing: 0px;
        text-shadow: none;
    }

    .white_text, .yellow_text, .red_text, .black_text{
        font-size: 9px;
        line-height: 25px;
        text-transform: none;
        letter-spacing: 2px;
        text-shadow: none;
    }

    .entry_text{
        font-size: 7px;
        line-height: 18px;
        letter-spacing: 0px;
    }

    .white_text{
        margin-top: 20px;
    }

    .yellow_text{
        font-size: 10px;
        line-height: 40px;
        letter-spacing: 2px;
        text-shadow: 1px 1px 0px black, -1px -1px 0px black;
    }

    .red_text{
        text-shadow: 3px 3px 0px rgb(246, 4, 4), 3px 3px 0px rgb(246, 4, 4), 2px 2px 0px rgb(246, 4, 4), 2px 2px 0px rgb(246, 4, 4);
    }

    .black_text{
        font-size: 8px;
        line-height: 25px;
        letter-spacing: 1px;
        text-shadow: 2px 2px 0px rgb(0, 0, 0), 3px 3px 0px rgb(0, 0, 0);
    }

    
    footer{
        margin-top: 7px;
        padding: 40px;
    }
    

    .footer_info {
        font-size: 10px;
        text-transform: none;
        letter-spacing: 1px;
        text-shadow: none;
        line-height: 15px;
    }

    .list{
        font-size: 10px;
        text-transform: none;
        text-shadow: none;
        line-height: 20px;
    }

    li{
        margin-right: 10px;
    }

    img{
        width: 25px;
        margin-top: 7px;
    }
}